/* limpar formatações padrões */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/* layout */
#area-cabecalho{
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-conteudo {
    width: 660px;
    float: left;
}


#area-conteudo-listagem {
    width: 920px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.conteudo {
    padding: 20px 20px 20px 174px;
    margin-bottom: 20px;
    background: white;
}
.conteudo-listagem {
    padding: 20px 20px 20px 139px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.dependentes-lateral {
    font-size: 0.8em;
    padding: 5px;
}

.dependentes-listagem {
    font-size: 20px;
    justify-content: center;
}

table{
    border-spacing: 2px;
    font-size: 20px;
    text-align: center;
    
}

thead{
    background-color: rgb(0, 151, 92);
    color: white;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
    border: 10px;

}

.button {
    border: none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 151, 92);
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 15px;
}

.button:hover {
    background-color: rgb(0, 190, 117);
}

form {
    display: table;
}

label {
    display: table-cell;
}

.paragraph-align {
    display: table-row;
}

.input-style {
    display: table-row;
    border-radius: 25px;
    margin: 0px 0px 10px 5px;
    outline: none;
    height: 22px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

/* formatação do menu */

a {
    text-decoration: none;
}

a:link, a:visited{
    color:  rgb(0, 151, 92);
}

a:hover{
    text-decoration: underline;
}

/* formatações gerais */
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}


h3 {
    color: #fff;
    background: rgb(0, 151, 92);
    padding: 5px;
}

.listagem {
    color: #fff;
    background: rgb(0, 151, 92);
    padding: 10px;
    padding-left: 235px;
    margin-left: 2px;
    width: 378px;
}


.branco{
    color: white;
}

.verde{
    color: rgb(0, 151, 92);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }